# Database Connection (Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/myapp?schema=public"

# Server Configuration
PORT=5000
FRONTEND_URL=http://localhost:5173

# JWT Secrets
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# JWT Expiry
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d